xcuserdata
*xcworkspace
*rube-backups
.DS_Store
*swp
Thumbs.db
tags
Resources/gfx/facebook/*png
Resources/gfx/facebook/*jpg
Resources/gfx/facebook/13_tee_gif/
Resources/gfx/trash/
Resources/src/fonts/old/
Resources/src/animations/old/
proj.ios_mac/ios/Default*psd
proj.android/run.sh
proj.android/log
proj.android/build_log
proj.android/assets/
proj.android/bin/
proj.android/gen/
proj.android/obj/
proj.android/libs/
proj.android/local.properties
cocos2d/cocos/platform/android/java/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/local.properties
bin/
build_log
cocos2d/cocos/platform/android/libcocos2dx/build/
img/
linux-build/
