<!-- About Section -->
<section id="about">

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">

                        <p>Meet not-so-adorable rat running in the rhythm of rock’n’roll.</p>
                        <br/>

                        <p>It’s simple - the longer you run, the more you score.</p>

                        <p>Do you want to run faster? Or even fly?</p>
                        <p>Gather items falling from the sky to boost your rat.</p>
                        <p>But beware, some items may hurt you!</p>
                        <br/>

                        <p>So score as much as you can and challenge your friends on Game Center!</p>
                    </div>
                </div>

                <div class="col-lg-6">
                <iframe width="100%" height="400"
                        src="https://www.youtube.com/embed/63AdMppDNyQ?rel=0&vq=hd720"
                        frameborder="0" allowfullscreen>
                </iframe>
        </div>
    </div>
</section>
