<!-- About Section -->
<section id="about">

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">

                        <p>Meet not-so-adorable rat running in the rhythm of rock’n’roll.</p>

                        <p>It’s simple - the longer you run, the more you score.</p>
                        <p>So score as much as you can and then challenge your friends from Game Center!</p>

                        <p>Do you  Want to run faster (or even fly)?<br/>
                         Gather items falling from the sky to boost your score.
                         </p>
                         <p>
                         But beware, some items may hurt you!</p>

                    </div>
                </div>

                <div class="col-lg-3 col-lg-offset-2">
                    <img class="img-responsive" src="img/coming_soon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
