<!-- About Section -->
<section id="about">

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About</h2>
                    <div class="lead">

                        <p>Meet not-so-adorable rat running in the rhythm of rock’n’roll.</p>
                        <br/>

                        <p>It’s simple - the longer you run, the more you score.</p>

                        <p>Do you want to run faster? Or even fly?</p>
                        <p>Gather items falling from the sky to boost your rat.</p>
                        <p>But beware, some items may hurt you!</p>
                        <br/>

                        <p>So score as much as you can and challenge your friends on Game Center!</p>
                    </div>
                </div>

                <div class="col-lg-6">
<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="https://www.facebook.com/RatNRoll.Game/videos/1803070026586978/"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/RatNRoll.Game/videos/1803070026586978/"><a href="https://www.facebook.com/RatNRoll.Game/videos/1803070026586978/">Rat&#039;n&#039;roll trailer</a><p>I&#039;ve starred in a movie!</p>Posted by <a href="https://www.facebook.com/RatNRoll.Game/">Rat &#039;n&#039; Roll</a> on Saturday, December 26, 2015</blockquote></div></div>
            </div>
        </div>
    </div>
</section>
