<section id="contact">
    <div class="content-section-a">
        <div class="container">
            <h2 class="section-heading">Contact</h2>
            <div class="row">
                <div class="col-lg-12">
                    <a href="mailto:ratnrollgame@ratnrollgame.com" target="_top">ratnrollgame@ratnrollgame.com</a>
                    <!--<a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">Send Mail</a>-->
                </div>
            </div>
            <div class="row" style="padding-top:25px">
                <div class="col-lg-12">
                    <a target="_blank" href="http://facebook.com/RatNRoll.Game">http://facebook.com/RatNRoll.Game</a>
                </div>
            </div>
        </div>
    </div>
</section>
