<section>
    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="https://itunes.apple.com/us/app/ratnroll/id1000398088?mt=8" target="_top">
                        <img class="img-responsive" style="margin: 0 auto; height: 60px" 
                             src="img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
