<section id="screenshots">
    <div class="content-section-b">
        <div class="container">
            <h2 class="section-heading">Screenshots</h2>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Three colorful levels</h4>
                    <img class="screenshot img-responsive" src="img/screenshots/colorful_levels.png" alt="">
                </div>
                <div class="col-lg-6">
                    <h4>Fancy items falling from the sky</h4>
                    <img class="screenshot img-responsive" src="img/screenshots/fancy_items.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h4>Hands-on introduction to gameplay</h4>
                    <img class="screenshot img-responsive" src="img/screenshots/tutorial.png" alt="">
                </div>
                <div class="col-lg-6">
                    <h4>Integration with Game Center</h4>
                    <img class="screenshot img-responsive" src="img/screenshots/gamecenter_integration.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
