<section id="privacy_policy">
    <div class="content-section-a">
        <div class="container">
            <h2 class="section-heading">Privacy policy</h2>
            <div class="row">
                <div class="col-lg-12">
                In this privacy policy we describe what kind of data we may collect of you in 
                connection with your use of our games, websites and related services and how 
                we may use such data. Below we call these collectively “Services”. 
                By using our Services, you agree to the processing of your data in accordance 
                with this privacy policy.
                <br/>
                <br/>
                We may amend this privacy policy from time to time by posting a new version 
                online so please review it frequently. Your continued use of our Services 
                after the posting of a new version is deemed as your acceptance of the 
                modified terms.
                <br/>
                <br/>
                If you have any questions regarding this policy or the processing of your
                personal data, please contact us at 
                <a href="mailto:ratnrollgame@ratnrollgame.com" target="_top">ratnrollgame@ratnrollgame.com</a>
                </div>

                <div class="col-lg-12">
                <h4>What data do we collect and why?</h4>
                <ul>
                <li>
                <div>Personal data</div> 
                We may collect personal data that identifies you if you submit it to us (for 
                example if you send us an e-mail query regarding the Services).
                We may use this data to provide Services to you, improve our Services and contact you.
                <br/>
                <br/>
                We do not collect personal data from children under 13. If you believe we have 
                inadvertently collected such data, do contact us so we can obtain parental 
                consent or remove such data.
                </li>

                <li>
                <div>Analytics data</div>
                We use analytical services and other tools (such as 
                Google Analytics) on areas of our Services which enable us to collect your IP 
                address or other identifier, usage data relating to our Services as well as 
                information on your device properties. Based on this data we may create statistics, 
                provide better services to our customers as well as analyze and further develop 
                our Services. We treat this information as non-personal data.
                </li>

                <li>
                <div>Cookies and other identifiers</div> We and our partners may use cookies and 
                other identifiers (such as clear gifs or pixel tags). With cookies and other 
                identifiers we and our partners can provide a better user experience. 
                You may delete the cookies from your device after using our Services. 
                If you disable cookies on your browser, some parts of our Services may not 
                function properly.
                </li>
                </ul>
                </div>

                <div class="col-lg-12">
                <h4>Data security and sharing</h4>
                <ul>
                <li>
                <div>Data security</div>
                All of your data is protected in accordance with generally acceptable industry 
                standards and although no system is 100% secure, we take reasonable steps to 
                safeguard your data from unauthorized access. We may use partners and contractors 
                to process data for us in accordance with this privacy policy and in such 
                cases we take steps to ensure that your data is kept secure.
                </li>

                <li>
                <div>Data sharing</div>
                We do not share your personal data to third parties without your consent unless 
                we are compelled to do so by law or when we face exceptional situations, such 
                as detection or prevention of misuse or criminal activities.
                <br/>
                <br/>
                We may publish aggregated or de-personalised data based on our users’ information 
                (such as statistics) provided that such information does not identify you.
                <br/>
                <br/>
                We may process your data outside the country where you live in (for example if you 
                are an EU citizen, outside the EU or the European Economic Area). This can happen 
                if, for instance, the service provider of our analytical services is located 
                outside your country. In such cases, we will take steps to ensure that your 
                personal data is processed lawfully and in accordance with this privacy policy.
                </li>
                </div>

                <div class="col-lg-12">
                <h4>External links</h4>
                Our Services may contain links to external sites, such as Facebook and Youtube and 
                link content from external third party sources. Please note that the use of such 
                third party sites or content is subject to the privacy policies and usage terms 
                of the third party in question instead of our own terms and we do not have 
                control or assume any liability over such content.
                <br/><br/>
                Last updated: 02 January 2016
                </div>
            </div>
        </div>
    </div>
</section>

